data/
yolo_dataset/
yolo_image+text/
tests_images/
for_tests_2/
для тестов/
.venv/
docs/
.png
.jpg
.env
.pyc
.env.utf8
containers/api
config.json
database/create_json.py
setup.py
.log
certs/
.gitignore
get-pip.py
db_api/test.py
**/__pycache__
