data/
yolo_dataset/
yolo_image+text/
tests/
for_tests_2/
для тестов/
.venv/
docs/
.env
.env.utf8
containers/
config.json
database/create_json.py
Инструкция_по_использованию_приложения.pdf
setup.py
.log
certs/
.gitignore
get-pip.py
docker/
database/__pycache__
front_api/__pycache__